<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/sta/js/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/sta/js/bootstrap.min.js"></script>
</head>
<body>

<table class="table table-hover">
    <caption>投票统计</caption>
    <thead>
        <tr>
            <th>问题</th>
            <th>票数</th>
            <th>投票</th>
    </tr>
    </thead>
        <tbody>


        {% if choices %}
            {% for choice in choices %}
                <tr>
                    <td>{{ choice.choice }}</td>
                    <td>{{ choice.votes }}</td>
                    <form action="/vote/vote/{{ choice.id }}", method="post">
                    {% csrf_token %}
                    <td><input type="submit" class="btn btn-default" value="投票" name="{{ choice.id }}"></td>
                    </form>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
</table>

</body>
</html>
